name: release

on:
  workflow_dispatch:
    inputs:
      branch:
        description: Branch
        required: true
        default: main
        type: string
      registry:
        description: Private Image Registry
        required: true
        default: ghcr.io
        type: string
      namespace:
        description: Registry Namespace
        required: true
        default: ${{ github.actor }}/slackernews
        type: string
      slug:
        description: Replicated App Slug
        required: true
        type: string
      token:
        description: Replicated API Token
        required: true
        type: string
      proxy:
        description: Proxy Image Registry
        required: true
        default: proxy.replicated.com
        type: string

jobs:
  build:
    runs-on: ubuntu-22.04
    outputs:
      tags: ${{ steps.web-meta.outputs.tags }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: slackernews/slackernews.git
          token: ${{ secrets.GH_PAT }} # `GH_PAT` is a secret that contains your PAT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Extract metadata (tags, labels) for web image
        id: web-meta
        uses: docker/metadata-action@v4
        with:
          tags: |
                type=sha,format=long
                type=schedule
                type=semver,pattern={{version}}
                type=ref,event=branch
                type=ref,event=tag
                type=ref,event=pr
          images: ${{ inputs.registry }}/${{ inputs.namespace }}/slackernews-web

      - uses: int128/docker-build-cache-config-action@v1
        id: cache
        with:
          image: ghcr.io/${{ github.repository }}/cache

      - name: Build web image
        uses: docker/build-push-action@v4
        with:
          context: ./slackernews
          tags: ${{ steps.web-meta.outputs.tags }}
          labels: ${{ steps.web-meta.outputs.labels }}
          file: ./deploy/Dockerfile.web
          push: true
          cache-from: ${{ steps.cache.outputs.cache-from }}
          cache-to: ${{ steps.cache.outputs.cache-to }}

  release:
    runs-on: ubuntu-22.04
    needs:
      - build
    steps:
      - uses: actions/checkout@v4

      - run: make chart

      - id: get_version
        uses: battila7/get-version-action@v2

      - uses: azure/setup-helm@v1
        with:
          version: "3.9.0"
        id: install

      - name: Update the values.yaml with the registry name
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          include: 'chart/slackernews/values.yaml'
          find: '$REGISTRY'
          replace: '${{ inputs.proxy }}'
          regex: false
      - name: Update the values.yaml with the image path
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          include: 'chart/slackernews/values.yaml'
          find: '$IMAGE'
          replace: 'proxy/${{ inputs.slug }}/${{ inputs.namespace }}/slackernews-web:${{ steps.get_version.outputs.version-without-v }}'
          regex: false

      - id: package-helm-chart
        run: |
          cd chart/slackernews && \
          helm dep up --debug && \
          cd .. && \
          helm package \
            --app-version=${{ steps.get_version.outputs.version-without-v }} \
            --version=${{ steps.get_version.outputs.version-without-v }} \
            ./slackernews


      - name: Copy the helm chart to the kots directory
        run: cp ./chart/slackernews-${{ steps.get_version.outputs.version-without-v }}.tgz ./kots

      - name: Update the HelmChart kind
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          include: 'kots/slackernews-chart.yaml'
          find: '$VERSION'
          replace: '${{ steps.get_version.outputs.version-without-v }}'
          regex: false

      - name: Create the unstable release
        uses: replicatedhq/action-kots-release@configurable-endpoint
        with:
          replicated-app: "slackernews"
          replicated-api-token: ${{ input.token }}
          replicated-api-origin: https://api.replicated.com/vendor
          yaml-dir: ./kots
          promote-channel: "Unstable"
          version: ${{ steps.get_version.outputs.version-without-v }}
